# Data Types and In-Built Data Structures in Python

- Data types are the kind of values on the basis of which the further operations is going to perform on that particular data.
- type() function is used to determine the type of the value or data.

  1. **Numeric Type**
     - Integer
     - Float
     - Complex Numbers
     
  2. **Sequence Type**
      - String
      - List
      - Tuples
  3. **Boolean**
  4. **Set**
  5. **Dictionary**
  
  
  
  
- LinkedIn: https://www.linkedin.com/in/km-jyoti-pandey/
- Github: https://github.com/JyotiPandey111

# 1. Numeric Type
## 1.1 Integer Numeric Type

In [49]:
a = 12345 #positive whole number
b = -12345 #negative whole number
c = 0 #0 is also integer

print("12345 belongs to ",type(a))
print("-12345 belongs to ",type(b))
print("0 belongs to ",type(c))

12345 belongs to  <class 'int'>
-12345 belongs to  <class 'int'>
0 belongs to  <class 'int'>

In [69]:
try:
    a[1] 
except Exception as e:
    print("Integer is non-iterable and unordered because", e)

Integer is non-iterable and unordered because 'int' object is not subscriptable

In [70]:
try:
    a[1]=2 
except Exception as e:
    print("Integer data type is immutable because", e)

Integer data type is immutable because 'int' object does not support item assignment

## 1.2 Float Numeric Type

In [50]:
a = 12345.1 #positive floating point number
b = -12345.1 #negative floating point number
c = 0.0 

print("12345.1 belongs to ",type(a))
print("-12345.1 belongs to ",type(b))
print("0.0 belongs to ",type(c))

12345.1 belongs to  <class 'float'>
-12345.1 belongs to  <class 'float'>
0.0 belongs to  <class 'float'>

In [73]:
try:
    a[1]  #non-iterable and unordered.
except Exception as e:
    print("Float is non-iterable and unordered because ", e)

Float is non-iterable and unordered because  'float' object is not subscriptable

In [74]:
try:
    a[1]=2 
except Exception as e:
    print("Float data type is immutable because", e)

Float data type is immutable because 'float' object does not support item assignment

## 1.3 Complex Number

In [48]:
a = 1 + 1j
b = 2 - 2j 
c = -6j

print("1 + 1j belongs to ",type(a))
print("-2 - 2j belongs to ",type(b))
print("-6j belongs to ",type(c))

1 + 1j belongs to  <class 'complex'>
-2 - 2j belongs to  <class 'complex'>
-6j belongs to  <class 'complex'>

In [11]:
print("The Real part of complex number 1 + 1j is", a.real)
print("The Real part of complex number -2 -2j is", b.real)
print("The Real part of complex number -6j is", c.real)

The Real part of complex number 1 + 1j is 1.0
The Real part of complex number -2 -2j is 2.0
The Real part of complex number -6j is -0.0

In [12]:
print("The Imaginary part of complex number 1 + 1j is", a.imag)
print("The Imaginary part of complex number -2 -2j is", b.imag)
print("The Imaginary part of complex number -6j is", c.imag)

The Imaginary part of complex number 1 + 1j is 1.0
The Imaginary part of complex number -2 -2j is -2.0
The Imaginary part of complex number -6j is -6.0

In [13]:
print("The Conjugate of complex number 1 + 1j is", a.conjugate()) 
print("The Conjugate of complex number -2 -2j is", b.conjugate())
print("The Conjugate of complex number -6j is", c.conjugate())
 # NOTE: Do not forget Parentheses as Conjugate is function builtin_function_or_method

The Conjugate of complex number 1 + 1j is (1-1j)
The Conjugate of complex number -2 -2j is (2+2j)
The Conjugate of complex number -6j is (-0+6j)

# 2. Sequencial Type
## 2.1 String
- In Python, Strings are arrays of bytes representing Unicode characters. A string is a collection of one or more characters put in a single quote, double-quote or triple quote.

In [52]:
a = "It's an example of string data type" # double quote
b = '12345 ^&%& alphabets' # single quote

print("'It's an example of string data type' belongs to ",type(a))
print("'12345 ^&%& alphabets' belongs to ",type(b))

'It's an example of string data type' belongs to  <class 'str'>
'12345 ^&%& alphabets' belongs to  <class 'str'>

In [16]:
print("String data type is iterable and ordered.\n")
print("The first element of the string is ", a[0]) # indexing starts from 0 and goes on with increment of 1.
print("The second element of the string is ", a[1])

String data type is iterable and ordered.

The first element of the string is  I
The second element of the string is  t

In [2]:
print("Slice the 'string data type' from the string: ", a[19:35])
print("Slice the 'string data type' from the string with jump of 2: ", a[19:35:2])
print("Reverse the string:  ", a[::-1])

Slice the 'string data type' from the string:  string data type
Slice the 'string data type' from the string with jump of 2:  srn aatp
Reverse the string:   epyt atad gnirts fo elpmaxe na s'tI

In [61]:
print("String data type is immutable.\n")
print(a)
try:
    a[0] = 'i'
except Exception as e:
    print(e)

String data type is immutable.

It's an example of string data type
'str' object does not support item assignment

### Operations on string datatype

- string_variable [dot] then [pressTab] => to get all the operations of string.  
    - a.[Tab]

In [18]:
print("Lets perform string manipulation operations on: ",a)
print("\n")
print("1. capitalize() make the first character have upper case and the rest lowercase.:", a.capitalize())
print("2. lower() return a copy of the string converted to lowercase.For above string it is: ",a.lower())
print("3. islower() return True if the string is a lowercase string, False otherwise.For above string it is: ",a.islower())
print("4. upper() return a copy of the string converted to uppercase. For above string it is:", a.upper())
print("5. isupper() return True if the string is an uppercase string, False otherwise. For above string it is: ", a.isupper())
print("6. swapcase() convert uppercase characters to lowercase and lowercase characters to uppercase. For above string it is:",a.swapcase())
print("7. title() return a version of the string where each word is titlecased. For above string it is:", a.title())
print("8. istitle() return True if the string is a title-cased string, False otherwise.  For above string it is:",a.istitle())

Lets perform string manipulation operations on:  It's an example of string data type


1. capitalize() make the first character have upper case and the rest lowercase.: It's an example of string data type
2. lower() return a copy of the string converted to lowercase.For above string it is:  it's an example of string data type
3. islower() return True if the string is a lowercase string, False otherwise.For above string it is:  False
4. upper() return a copy of the string converted to uppercase. For above string it is: IT'S AN EXAMPLE OF STRING DATA TYPE
5. isupper() return True if the string is an uppercase string, False otherwise. For above string it is:  False
6. swapcase() convert uppercase characters to lowercase and lowercase characters to uppercase. For above string it is: iT'S AN EXAMPLE OF STRING DATA TYPE
7. title() return a version of the string where each word is titlecased. For above string it is: It'S An Example Of String Data Type
8. istitle() return True if the string is a title-cased string, False otherwise.  For above string it is: False

In [19]:
print("Lets perform string manipulation operations on: ",b)
print("\n")
print("1. isalnum return True if the string is an alpha-numeric string, False otherwise.For above string it is:", a.isalnum()) 
print("2. isalpha return True if the string is an alphabetic string, False otherwise. for above string is is: ", a.isalpha())
print("3. isdecimal return True if the string is a decimal string, False otherwise. For above string is is:  ",a.isdecimal())
print("4. isdigit return True if the string is a digit string, False otherwise.For above string is is: ",a.isdigit())
print("5. isnumeric return True if the string is a numeric string, False otherwise. For above string it is: ", a.isnumeric())

Lets perform string manipulation operations on:  12345 ^&%& alphabets


1. isalnum return True if the string is an alpha-numeric string, False otherwise.For above string it is: False
2. isalpha return True if the string is an alphabetic string, False otherwise. for above string is is:  False
3. isdecimal return True if the string is a decimal string, False otherwise. For above string is is:   False
4. isdigit return True if the string is a digit string, False otherwise.For above string is is:  False
5. isnumeric return True if the string is a numeric string, False otherwise. For above string it is:  False

In [60]:
print("Lets perform string manipulation operations on: ",a)
print("\n")
print("1. count() return the number of non-overlapping occurrences of sub-string in string such that sub-string is contained within S[start:end].",a.count("data",8,35))
# how many times sub-string "data" occures in string "example of string data type" as we have choosen [8,35], index 8 as start and 35 as end. 

print("2. startswith() return True if string starts with the specified prefix, False otherwise.",a.startswith("It",0,15))
# checks for the "It" string preffix in string from index o to 5: "It's an example"

print("3. endswith() return True if string ends with the specified suffix, False otherwise.", a.endswith("data",6,30))
# checks for the "data" string suffix in string from index 6 to 30: "example of string data"

print("4. find() return the lowest index in string where substring is found,such that sub-string is contained within S[start:end].", a.find("data",6,30))
# checks for the "data" sub-string in string from index 6 to 30: "example of string data" and returns the lowest index of the sub-string element i.e "d" 26.
# Return -1 on failure.
print("find() return -1 on failure.", a.find("not",6,30))

print("5. index() return the lowest index in string where substring is found,such that sub-string is contained within S[start:end].",a.index("data",6,30))
# checks for the "data" sub-string in string from index 6 to 30: "example of string data" and returns the lowest index of the sub-string element i.e "d" 26.
# Raises ValueError when the substring is not found.

try:
    print("find() raises ValueError when the substring is not found.", a.index("not",6,30))
except Exception as e :
    print(e)
    
# find() vs index(): 
#The main difference is that Python find() produces -1 as output if it is unable to find the substring, whereas index() throws a ValueError exception.

Lets perform string manipulation operations on:  It's an example of string data type


1. count() return the number of non-overlapping occurrences of sub-string in string such that sub-string is contained within S[start:end]. 1
2. startswith() return True if string starts with the specified prefix, False otherwise. True
3. endswith() return True if string ends with the specified suffix, False otherwise. True
4. find() return the lowest index in string where substring is found,such that sub-string is contained within S[start:end]. 26
find() return -1 on failure. -1
5. index() return the lowest index in string where substring is found,such that sub-string is contained within S[start:end]. 26
substring not found

In [87]:
print("Lets perform string manipulation operations on: ",b)
print("\n")
print("1. isssapce() return True if the string is a whitespace string, False otherwise. For the above string it is: ", b.isspace())
#A string is whitespace if all characters in the string are whitespace and there is at least one character in the string.

print("2. strip() return a copy of the string with leading and trailing whitespace removed. For the above string it is: ", b.strip())

print("3. lstrip() return a copy of the string with leading whitespace removed. For above string it is: ", b.lstrip())

print("4. splitlines return a list of the lines in the string, breaking at line boundaries.", b.splitlines(keepends=False))
# Line breaks are not included in the resulting list unless keepends is given and true.

print("5. split() return a list of the words in the string, using seperator as the delimiter string. For above string it is: ", b.split(sep=None, maxsplit=-1))
# sep: The delimiter according which to split the string. None (the default value) means split according to any whitespace, and discard empty strings from the result.
# maxsplit: Maximum number of splits to do.-1 (the default value) means no limit.

Lets perform string manipulation operations on:  12345 ^&%& alphabets


1. isssapce() return True if the string is a whitespace string, False otherwise. For the above string it is:  False
2. strip() return a copy of the string with leading and trailing whitespace removed. For the above string it is:  12345 ^&%& alphabets
3. lstrip() return a copy of the string with leading whitespace removed. For above string it is:  12345 ^&%& alphabets
4. splitlines return a list of the lines in the string, breaking at line boundaries. ['12345 ^&%& alphabets']
5. split() return a list of the words in the string, using seperator as the delimiter string. For above string it is:  ['12345', '^&%&', 'alphabets']

In [92]:
print("Lets perform string manipulation operations on: ",b)
print("\n")
print("replace() return a copy with all occurrences of substring old replaced by new.", b.replace("12345","54321",-1))
# count: Maximum number of occurrences to replace. -1 (the default value) means replace all occurrences. 
#If the optional argument count is given, only the first count occurrences are replaced.

Lets perform string manipulation operations on:  12345 ^&%& alphabets


replace() return a copy with all occurrences of substring old replaced by new. 54321 ^&%& alphabets

In [53]:
print("join() concatenate any number of strings:  ", "____".join([a,b]))
# Signature: a.join(iterable, /)
#The string whose method is called is inserted in between each given string. The result is returned as a new string.

join() concatenate any number of strings:   It's an example of string data type____12345 ^&%& alphabets

## 2.2 List
- Lists in Python can be created by just placing the sequence inside the square brackets [].
- Elements in list need not to be of same datatype.

In [45]:
a = ["one",1,1.2,1+2j,[3,4,"five"]]
b = ["b1", "b2", 3, "b3"]

print("['one',1,1.2,1+2j,[3,4,'five']] belongs to ",type(a))

['one',1,1.2,1+2j,[3,4,'five']] belongs to  <class 'list'>

In [15]:
print("List data type is iterable and ordered.\n")
print("1. The first element of the list is ", a[0]) # indexing starts from 0 and goes on with increment of 1.
print("2. The second element of the list is ", a[1])
print("3. The first element of the nested list in list 'a' is ", a[4][0])
print("4. Reverse the list:  ", a[::-1])
print("5. Length of the list:  ", len(a))
print("6. Slice the 'list' from the list: ", a[0:3])
print("7. Slice the 'list' from the list with jump of 2: ", a[0:4:2])
print("8. Slice the 'list' from the list with jump of -2: ", a[3:0:-2]) #NOTE: direction from higher index to lower index when using negative jump.

List data type is iterable and ordered.

1. The first element of the list is  one
2. The second element of the list is  1
3. The first element of the nested list in list 'a' is  3
4. Reverse the list:   [[3, 4, 'five'], (1+2j), 1.2, 1, 'one']
5. Length of the list:   5
6. Slice the 'list' from the list:  ['one', 1, 1.2]
7. Slice the 'list' from the list with jump of 2:  ['one', 1.2]
8. Slice the 'list' from the list with jump of -2:  [(1+2j), 1]

In [47]:
print("List data type is mutable.\n")
print("List was: ",a)
a[0] = 'ONE'
print("After element assignment List becomes:  ", a)

List data type is mutable.

List was:  ['one', 1, 1.2, (1+2j), [3, 4, 'five']]
After element assignment List becomes:   ['ONE', 1, 1.2, (1+2j), [3, 4, 'five']]

## Operations of List:

In [26]:
a = ["one",1,1.2,1+2j,[3,4,"five"]]
b = ["b1", "b2", 3, "b3"]
print("First list, a = ", a)
print("Second list, b = ", b)
print("Lets perform list manipulation operations on these list.")
print("\n")

print("1. append() is a builtin_function_or_method which append object to the end of the list.",a.append("appended_element"))
print("List become: ", a)
print("\n")

print("2. extend() extend list by appending elements from the iterable.",a.extend("extend"))# one argument only
print("List become: ", a)
print("\n")

print("3. insert() insert object before index.",a.insert(3,"inserted_element"))
print("List become: ", a)
print("\n")

print("4. copy() is a builtin_function_or_method which return a shallow copy of the list.",a.copy())
print("\n")
print("5. count() is a builtin_function_or_method which return number of occurrences of value. The count of elemnt 'one' in list is: ",a.count("one"))
print("\n")

print("6. index() return first index of value from start to end. Index of element '1.2' in the list is: ",a.index(1.2,0,3))
#Raises ValueError if the value is not present.
print("\n")

print("List was: ", a)
print("7. pop() remove and return item at index (default last).",a.pop())
# Raises IndexError if list is empty or index is out of range.
print("List become after popping last elemnt: ", a)
print("\n")

print("List was: ", a)
print("8. remove() remove first occurrence of value.",a.remove("one"))
# Raises ValueError if the value is not present.
print("List become after removing 'one': ", a)

print("\n")
print("List was: ", a)
print("9. reverse() reverse *IN PLACE*.",a.reverse())
print("List become: ", a)

print("\n")
print("List was: ", a)
print("10. clear() remove all items from list.",a.clear())
print("List become after clear(): ", a)

First list, a =  ['one', 1, 1.2, (1+2j), [3, 4, 'five']]
Second list, b =  ['b1', 'b2', 3, 'b3']
Lets perform list manipulation operations on these list.


1. append() is a builtin_function_or_method which append object to the end of the list. None
List become:  ['one', 1, 1.2, (1+2j), [3, 4, 'five'], 'appended_element']


2. extend() extend list by appending elements from the iterable. None
List become:  ['one', 1, 1.2, (1+2j), [3, 4, 'five'], 'appended_element', 'e', 'x', 't', 'e', 'n', 'd']


3. insert() insert object before index. None
List become:  ['one', 1, 1.2, 'inserted_element', (1+2j), [3, 4, 'five'], 'appended_element', 'e', 'x', 't', 'e', 'n', 'd']


4. copy() is a builtin_function_or_method which return a shallow copy of the list. ['one', 1, 1.2, 'inserted_element', (1+2j), [3, 4, 'five'], 'appended_element', 'e', 'x', 't', 'e', 'n', 'd']


5. count() is a builtin_function_or_method which return number of occurrences of value. The count of elemnt 'one' in list is:  1


6. index() return first index of value from start to end. Index of element '1.2' in the list is:  2


List was:  ['one', 1, 1.2, 'inserted_element', (1+2j), [3, 4, 'five'], 'appended_element', 'e', 'x', 't', 'e', 'n', 'd']
7. pop() remove and return item at index (default last). d
List become after popping last elemnt:  ['one', 1, 1.2, 'inserted_element', (1+2j), [3, 4, 'five'], 'appended_element', 'e', 'x', 't', 'e', 'n']


List was:  ['one', 1, 1.2, 'inserted_element', (1+2j), [3, 4, 'five'], 'appended_element', 'e', 'x', 't', 'e', 'n']
8. remove() remove first occurrence of value. None
List become after removing 'one':  [1, 1.2, 'inserted_element', (1+2j), [3, 4, 'five'], 'appended_element', 'e', 'x', 't', 'e', 'n']


List was:  [1, 1.2, 'inserted_element', (1+2j), [3, 4, 'five'], 'appended_element', 'e', 'x', 't', 'e', 'n']
9. reverse() reverse *IN PLACE*. None
List become:  ['n', 'e', 't', 'x', 'e', 'appended_element', [3, 4, 'five'], (1+2j), 'inserted_element', 1.2, 1]


List was:  ['n', 'e', 't', 'x', 'e', 'appended_element', [3, 4, 'five'], (1+2j), 'inserted_element', 1.2, 1]
10. clear() remove all items from list. None
List become after clear():  []

In [27]:
a= [1,2,3,4,6,7,8,9,0]
# for sort() need to have data elements should be of same datatype.
print("1. sort() sort the list in ascending order and return None.", a.sort(reverse=False))
print("List become: ", a)
print("\n")
print("2. sort() sort the list in decending order and return None.", a.sort(reverse=True))
print("List become: ", a)

1. sort() sort the list in ascending order and return None. None
List become:  [0, 1, 2, 3, 4, 6, 7, 8, 9]


2. sort() sort the list in decending order and return None. None
List become:  [9, 8, 7, 6, 4, 3, 2, 1, 0]

## 2.3 Tuples

- To create a tuple we will use () operators.

In [28]:
a = ("one",1,1.2,1+2j,[3,4,"five"])
b = ("b1", "b2", 3, "b3")

print("('one',1,1.2,1+2j,[3,4,'five']) belongs to ",type(a))
print("('b1', 'b2', 3, 'b3') belongs to ",type(b))

('one',1,1.2,1+2j,[3,4,'five']) is belongs to  <class 'tuple'>
('b1', 'b2', 3, 'b3') is belongs to  <class 'tuple'>

In [18]:
print("Tuple data type is iterable and ordered.\n")
print("1. The first element of the tuple is ", a[0]) # indexing starts from 0 and goes on with increment of 1.
print("2. The second element of the tuple is ", a[1])
print("3. The first element of the nested list in tuple 'a' is ", a[4][0])
print("4. Reverse the tuple:  ", a[::-1])
print("5. Length of the tuple:  ", len(a))
print("6. Slice the 'list' from the tuple: ", a[0:3])
print("7. Slice the 'list' from the tuple with jump of 2: ", a[0:4:2])
print("8. Slice the 'list data type' from the tuple with jump of -2: ", a[3:0:-2]) #NOTE: direction from higher index to lower index when using negative jump.

Tuple data type is iterable and ordered.

1. The first element of the tuple is  one
2. The second element of the tuple is  1
3. The first element of the nested list in tuple 'a' is  3
4. Reverse the tuple:   ([3, 4, 'five'], (1+2j), 1.2, 1, 'one')
5. Length of the tuple:   5
6. Slice the 'list' from the tuple:  ('one', 1, 1.2)
7. Slice the 'list' from the tuple with jump of 2:  ('one', 1.2)
8. Slice the 'list data type' from the tuple with jump of -2:  ((1+2j), 1)

In [21]:
print("Tuple data type is immutable.\n")
print("Tuple was: ",a)
try:
    a[0] = 'ONE'
except Exception as e:
    print("Tuple data type is immutable because",e)

Tuple data type is immutable.

Tuple was:  ('one', 1, 1.2, (1+2j), [3, 4, 'five'])
Tuple data type is immutable because 'tuple' object does not support item assignment

## Operations on Tuples

In [32]:
a = ("one",1,1.2,1+2j,[3,4,"five"],'one')
b = ("b1", "b2", 3, "b3")
print("Lets perform tuple manipulation operations on: ")
print("First tuple, a = ", a)
print("Second tuple, b = ", b)
print("\n")
print("1. count() is an builtin_function_or_method which return number of occurrences of value.",a.count("one"))
print("\n")
print("2. index() is an builtin_function_or_method which Return first index of value. Raises ValueError if the value is not present.",a.index("one"))
print("\n")
print("3. Result of concatenation of the tuples: ", a+b)
print("\n")
print("4. Result of nesting of tuples: ",(a,b))
print("\n")
print("First tuple, a = ", a)
print("5. Length of tuple: ",len(a))

Lets perform tuple manipulation operations on:
First tuple, a =  ('one', 1, 1.2, (1+2j), [3, 4, 'five'], 'one')
Second tuple, b =  ('b1', 'b2', 3, 'b3')


1. count() is an builtin_function_or_method which return number of occurrences of value. 2


2. index() is an builtin_function_or_method which Return first index of value. Raises ValueError if the value is not present. 0


3. Result of concatenation of the tuples:  ('one', 1, 1.2, (1+2j), [3, 4, 'five'], 'one', 'b1', 'b2', 3, 'b3')


4. Result of nesting of tuples:  (('one', 1, 1.2, (1+2j), [3, 4, 'five'], 'one'), ('b1', 'b2', 3, 'b3'))


First tuple, a =  ('one', 1, 1.2, (1+2j), [3, 4, 'five'], 'one')
5. Length of tuple:  6

In [35]:
a = ["one",1,1.2,1+2j,[3,4,"five"]]
print("Type of 'a' was ",type(a))
a = tuple(a)
print("After converting, type of 'a' become ", type(a))

Type of 'a' was  <class 'list'>
After converting, type of 'a' become  <class 'tuple'>

# 3. Boolean Data Type
- The boolean value can be of two types only i.e. either True or False.

In [36]:
10<6

False

In [37]:
10>6

True

In [38]:
type(10>6)

bool

In [41]:
print("Returns True when the argument x is true, False otherwise. ")
print("The builtins True and False are the only two instances of the class bool. The class bool is a subclass of the class int, and cannot be subclassed.")
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

Returns True when the argument x is true, False otherwise.
The builtins True and False are the only two instances of the class bool. The class bool is a subclass of the class int, and cannot be subclassed.
False
False
False
False
False
False
False

# 4. Set
- A Set is an unordered collection data type that is iterable, mutable and has unique elements.
- set() methods is used to types conversion in Python.

In [76]:
a = {100,200,300,400,500}
b = {50,100,20,200,400}
print("'a' belongs to ",type(a))
print("'b'is belongs to ",type(b))
print("First set, a = ", a)
print("Second set, b = ", b)

'a' belongs to  <class 'set'>
'b'is belongs to  <class 'set'>
First set, a =  {400, 100, 500, 200, 300}
Second set, b =  {400, 50, 100, 20, 200}

In [77]:
print("Set data type is iterable and unordered.\n")
try:
    print("1. The first element of the set is ", a[0]) 
except Exception as e:
    print('Set is unordered because',e)
print("2. Length of the tuple:  ", len(a))

Set data type is iterable and unordered.

Set is unordered because 'set' object is not subscriptable
2. Length of the tuple:   5

In [79]:
a = {100,200,300,400,500}
b = {50,100,20,200,400}
print("Lets perform set manipulation operations on")
print("First set, a = ", a)
print("Second set, b = ", b)
print("\n")

print("Set was: ",a)
a.add(600)
print("1. add() add an element to a set. This has no effect if the element is already present.Set becomes: ",a)
print("2. copy() return a shallow copy of a set.",a.copy())
print("3. difference() return the difference of two or more sets as a new set.(i.e. all elements that are in this set but not the others.)",a.difference(b))
print("4. difference_update remove all elements of another set from this set.",a.difference_update(b))
print("5. symmetric_difference() return the symmetric difference of two sets as a new set. (i.e. all elements that are in exactly one of the sets.)",a.symmetric_difference(b))
print("6. symmetric_difference_update() update a set with the symmetric difference of itself and another.",a.symmetric_difference_update(b))

Lets perform set manipulation operations on
First set, a =  {400, 100, 500, 200, 300}
Second set, b =  {400, 50, 100, 20, 200}


Set was:  {400, 100, 500, 200, 300}
1. add() add an element to a set. This has no effect if the element is already present.Set becomes:  {400, 100, 500, 200, 600, 300}
2. copy() return a shallow copy of a set. {400, 100, 500, 200, 600, 300}
3. difference() return the difference of two or more sets as a new set.(i.e. all elements that are in this set but not the others.) {600, 500, 300}
4. difference_update remove all elements of another set from this set. None
5. symmetric_difference() return the symmetric difference of two sets as a new set. (i.e. all elements that are in exactly one of the sets.) {400, 50, 100, 20, 500, 200, 600, 300}
6. symmetric_difference_update() update a set with the symmetric difference of itself and another. None

In [82]:
a = {100,200,300,400,500}
b = {50,100,20,200,400}
print("Lets perform set manipulation operations on")
print("First set, a = ", a)
print("Second set, b = ", b)
print("\n")
print("1. intersection() return the intersection of two sets as a new set.(i.e. all elements that are in both sets.)",a.intersection(b))
print("2. intersection_update() update a set with the intersection of itself and another.",a.intersection_update(b))
print("3. isdisjoint() return True if two sets have a null intersection.",a.isdisjoint(b))
print("4. union() return the union of sets as a new set.(i.e. all elements that are in either set.)",a.union(b))
print("5. issubset report whether another set contains this set.",a.issubset(b))
print("6. issuperset() report whether this set contains another set.",a.issuperset(b))
print("7. update() update a set with the union of itself and others.",a.update(b))

Lets perform set manipulation operations on
First set, a =  {400, 100, 500, 200, 300}
Second set, b =  {400, 50, 100, 20, 200}


1. intersection() return the intersection of two sets as a new set.(i.e. all elements that are in both sets.) {400, 100, 200}
2. intersection_update() update a set with the intersection of itself and another. None
3. isdisjoint() return True if two sets have a null intersection. False
4. union() return the union of sets as a new set.(i.e. all elements that are in either set.) {100, 200, 400, 50, 20}
5. issubset report whether another set contains this set. True
6. issuperset() report whether this set contains another set. False
7. update() update a set with the union of itself and others. None

In [83]:
a = {100,200,300,400,500}
b = {50,100,20,200,400}
print("Lets perform set manipulation operations on")
print("First set, a = ", a)
print("Second set, b = ", b)
print("\n")
print("Set was: ",a)
print("1. pop() remove and return an arbitrary set element. Raises KeyError if the set is empty. Popped element is: ",a.pop())
print("Set become: ",a)
print("\n")
print("Set was: ",a)
print("2. discard() remove an element from a set if it is a member.If the element is not a member, do nothing.",a.discard(100))
print("Set become: ",a)
print("\n")
print("Set was: ",a)
print("3. remove() remove an element from a set; it must be a member. If the element is not a member, raise a KeyError.",a.remove(200))
print("Set become: ",a)
print("\n")
print("Set was: ",a)
print("4. Remove all elements from this set.",a.clear())
print("Set become: ",a)
print("\n")

Lets perform set manipulation operations on
First set, a =  {400, 100, 500, 200, 300}
Second set, b =  {400, 50, 100, 20, 200}


Set was:  {400, 100, 500, 200, 300}
1. pop() remove and return an arbitrary set element. Raises KeyError if the set is empty. 400
Set become:  {100, 500, 200, 300}


Set was:  {100, 500, 200, 300}
2. discard() remove an element from a set if it is a member.If the element is not a member, do nothing. None
Set become:  {500, 200, 300}


Set was:  {500, 200, 300}
3. remove() remove an element from a set; it must be a member. If the element is not a member, raise a KeyError. None
Set become:  {500, 300}


Set was:  {500, 300}
4. Remove all elements from this set. None
Set become:  set()

# 5. Dictionary
- Dictionaries are used to store data values in key:value pairs.
- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
- Dictionaries are written with curly brackets, and have keys and values.

In [84]:
a = {"k1":"one","k2":1,"k3":1.2,"k4":1+2j,"k5":3,"k6":4,"k7":"five"}
b = {"k1":"b1", "k2":"b2", "k3":3, "k4":"b3","k5":"b3","k6":"b3","k7":"b3"}
print("'a' belongs to ",type(a))
print("'b'is belongs to ",type(b))
print("First dictionary, a = ", a)
print("Second dictionary, b = ", b)

'a' belongs to  <class 'dict'>
'b'is belongs to  <class 'dict'>
First dictionary, a =  {'k1': 'one', 'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4, 'k7': 'five'}
Second dictionary, b =  {'k1': 'b1', 'k2': 'b2', 'k3': 3, 'k4': 'b3', 'k5': 'b3', 'k6': 'b3', 'k7': 'b3'}

In [111]:
a = {"k1":"one","k2":1,"k3":1.2,"k4":1+2j,"k5":3,"k6":4,"k7":"five"}
b = {"k1":"b1", "k2":"b2", "k3":3, "k4":"b3","k5":"b3","k6":"b3","k7":"b3"}
print("First dictionary, a = ", a)
print("Second dictionary, b = ", b)
print("1. copy() return a shallow copy of dictionary,",a.copy())
keys = {1,2,3,4,5}
print("2. fromkeys() create a new dictionary with keys from iterable and values set to value.New dictionary: ",b.fromkeys(keys, "value"))
print("3. get() return the value for key if key is in the dictionary, else default. The value at key 'k1' is: ",a.get("k1"))
print("4. items() a set-like object providing a view on dictionary's items.",a.items())
print("5. keys() a set-like object providing a view on dictionary's keys. The keys of dictionary 'a' are: ",a.keys())
print("6. values() provide a view on values of dictionary. The values in dictionary 'a' are:",a.values())

First dictionary, a =  {'k1': 'one', 'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4, 'k7': 'five'}
Second dictionary, b =  {'k1': 'b1', 'k2': 'b2', 'k3': 3, 'k4': 'b3', 'k5': 'b3', 'k6': 'b3', 'k7': 'b3'}
1. copy() return a shallow copy of dictionary, {'k1': 'one', 'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4, 'k7': 'five'}
2. fromkeys() create a new dictionary with keys from iterable and values set to value.New dictionary:  {1: 'value', 2: 'value', 3: 'value', 4: 'value', 5: 'value'}
3. get() return the value for key if key is in the dictionary, else default. The value at key 'k1' is:  one
4. items() a set-like object providing a view on dictionary's items. dict_items([('k1', 'one'), ('k2', 1), ('k3', 1.2), ('k4', (1+2j)), ('k5', 3), ('k6', 4), ('k7', 'five')])
5. keys() a set-like object providing a view on dictionary's keys. The keys of dictionary 'a' are:  dict_keys(['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7'])
6. values() provide a view on values of dictionary. The values in dictionary 'a' are: dict_values(['one', 1, 1.2, (1+2j), 3, 4, 'five'])

In [115]:
a = {"k1":"one","k2":1,"k3":1.2,"k4":1+2j,"k5":3,"k6":4,"k7":"five"}
b = {"k1":"b1", "k2":"b2", "k3":3, "k4":"b3","k5":"b3","k6":"b3","k7":"b3"}
print("First dictionary, a = ", a)
print("Second dictionary, b = ", b)
print("\n")

print("Dictionary was: ",a)
print("1. pop() remove specified key and return the corresponding value.",a.pop('k1'))
print("Dictionary become: ",a)
print("\n")
print("Dictionary was: ",a)
print("2. popitem() remove and return a (key, value) pair as a 2-tuple. Pairs are returned in LIFO (last-in, first-out) order. Raises KeyError if the dict is empty. Popped key value pair is: ",a.popitem())
print("Dictionary become: ",a)
print("\n")
print("Dictionary was: ",a)
print("3. clear() remove all items from D.",a.clear())
print("Dictionary become: ",a)
print("\n")

First dictionary, a =  {'k1': 'one', 'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4, 'k7': 'five'}
Second dictionary, b =  {'k1': 'b1', 'k2': 'b2', 'k3': 3, 'k4': 'b3', 'k5': 'b3', 'k6': 'b3', 'k7': 'b3'}


Dictionary was:  {'k1': 'one', 'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4, 'k7': 'five'}
1. pop() remove specified key and return the corresponding value. one
Dictionary become:  {'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4, 'k7': 'five'}


Dictionary was:  {'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4, 'k7': 'five'}
2. popitem() remove and return a (key, value) pair as a 2-tuple. Pairs are returned in LIFO (last-in, first-out) order. Raises KeyError if the dict is empty. Popped key value pair is:  ('k7', 'five')
Dictionary become:  {'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4}


Dictionary was:  {'k2': 1, 'k3': 1.2, 'k4': (1+2j), 'k5': 3, 'k6': 4}
3. clear() remove all items from D. None
Dictionary become:  {}